.loader__container {
    @extend %fixed-position;
    @extend %flex-center;
    background: rgba(255,255,255, .8);
    &__item {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border-top: .4rem dotted $green;
        border-left: .4rem dotted $green;
        border-bottom: .4rem dotted $green;
        border-right: .4rem solid transparent;
        animation: loader .5s infinite;
        @keyframes loader {
            100% {
                transform: rotate(360deg);
            }
        }
        
    }
}