.pagination {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    li:first-child {
        border-left: 1px solid $green!important;
        border-top-left-radius: .6rem;
        border-bottom-left-radius: .6rem;
    }
    li:last-child {

        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
    }
    li {
        list-style-type: none;
        display: block;
            padding: 1rem;
            border: 1px solid $green;
            border-left: none;
            cursor: pointer;
        a {
            padding: 1rem;
            color: $green;
            font-size: 1.4rem;
        }
    }
}
.active {
    background: $green;
    a {
        color: $white!important;
    }
}