.container {
	width: 1200px;
	margin: 0 auto;
	@include responsive(mobile){
	  width: 100%;
	  padding: 0 2rem;
	}
	@include responsive(tablet) {
		width: 100%;
	  padding: 0 2rem;
	}
	@include responsive(laptop) {
		width: 100%;
	  padding: 0 2rem;
	}
}
.mt-80 {
	margin-top: 8rem;
}
.mt-100 {
	margin-top: 10rem;
}
.p-15 {
	padding: 1.5rem;
}
.ml-minus-15 {
	margin-left: -1.5rem;
}
.mr-minus-15 {
	margin-left: -1.5rem;
}
.imagePreivew {
	width: 100%;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
.length {
	font-size: 1.5rem;
}
.group {
	margin-bottom: 1.3rem;
	&__control {
		width: 100%;
		padding: 1.5rem;
		border: none;
		background: $silver;
		outline: none;
		border-bottom: 2px solid transparent;
		transition: all 0.5s;

		&:focus {
			border-bottom-color: green;
		}
	}
}
.btn {
	text-decoration: none;
	outline: none;
	color: $white;
	height: 4rem;
	padding: 1.2rem 1rem;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4rem;
	border: none;
	cursor: pointer;
}
.btn-default {
	background: $green;
}
.btn-block {
	width: 100%;
	height: 5rem !important;
}
.form-heading {
	font-size: 2rem;
	font-weight: 400;
}
.card {
	background: $white;
	padding: 1.5rem;
	&__h3 {
		font-size: 1.6rem;
		font-weight: 400;
		margin-bottom: 2rem;
	}
}
label {
	display: block;
	font-size: 1.3rem;
	margin-bottom: .4rem;
}
#image {
	display: none;
}
.image__label {
	display: block;
	width: 100%;
	padding: 1.5rem;
	background: #b2bec3;
	color: $white;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: $black;
}
.icon {
	font-size: 2rem;
	margin-left: 1.5rem;
	cursor: pointer;
}